@font-face {
  font-family: 'Bosox';
  src: url("../Bosox.ttf") format("truetype");
}

@font-face {
  font-family: 'Bosox Full';
  src: url("../Bosox Full.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html, body {
  background: #fff;
  color: #555;
  margin: 0;
}

body {
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
  margin: auto;
}

h1 {
  font-family: 'Bosox Full';
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 739px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  background: #fff;
  border-top: 6px solid #555;
  margin-left: -30px;
  padding: 6px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 739px) {
  h2 {
    font-size: 1rem;
    margin-left: -5px;
    text-align: center;
  }
}

p {
  max-width: 840px;
  font-family: 'Vollkorn', serif;
}

.title {
  padding: 25px 0 50px;
}

@media screen and (max-width: 739px) {
  .title {
    display: flex;
    align-items: start;
  }
}

@media screen and (max-width: 739px) {
  .title-wrapper {
    padding-left: 20px;
  }
}

.title-logo {
  display: none;
}

@media screen and (max-width: 739px) {
  .title-logo {
    display: block;
  }
  .title-logo img {
    max-width: none;
    height: 60px;
  }
}

.overline, .underline {
  color: #ccc;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-left: 25px;
}

@media screen and (max-width: 739px) {
  .overline, .underline {
    font-size: 1rem;
    margin-left: 12px;
  }
}

.overline {
  margin-bottom: 0;
}

.underline {
  margin-top: -22px;
}

@media screen and (max-width: 739px) {
  .underline {
    margin-top: -11px;
  }
}

img {
  max-width: 100%;
}

img.logo {
  height: 45px;
  margin: 10px 0 0 44px;
}

.caption {
  color: #999;
  font-family: 'Vollkorn', serif;
  font-size: 0.84rem;
  margin-bottom: 30px;
  margin-left: 4px;
}

@media screen and (max-width: 739px) {
  .caption {
    margin-top: -4px;
  }
}

.thumbnail {
  padding: 0;
  margin: 1px 3px 1px 0;
}

.thumbnail img {
  display: inline-block;
  height: auto;
}

.thumbnail:hover img {
  opacity: 0.5;
}

@media screen and (max-width: 739px) {
  .thumbnail {
    margin: 0;
  }
  .thumbnail img {
    width: 100%;
    border-radius: 0;
  }
}

.photo-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.photo-grid .thumbnail {
  flex: 1 1 120px;
  margin: 3px;
  height: fit-content;
}

.lightbox {
  display: none;
}

.lightbox:target {
  display: block;
}

.lightbox a {
  position: fixed;
  display: flex;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 8;
}

.lightbox a::after {
  content: "\2715";
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 2.5em;
  font-weight: lighter;
  padding: 0 20px 0 0;
  color: #fff;
}

.lightbox a img {
  display: block;
  z-index: 9;
  max-height: 100vh;
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 0;
}

@media screen and (max-width: 739px) {
  .lightbox a img {
    height: auto;
    max-width: 100vw;
  }
}

.lightbox-caption {
  font-family: 'Vollkorn', serif;
  position: fixed;
  z-index: 11;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 739px) {
  .lightbox-caption {
    padding: 10px 20px;
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: left;
  }
}

@-webkit-keyframes Show {
  from {
    opacity: 0;
    zoom: 2;
  }
}

.main-page {
  background: #fff;
  margin-left: 200px;
  padding: 0 40px 60px;
}

@media screen and (max-width: 739px) {
  .main-page {
    max-width: 100vw;
    margin-left: 0;
    width: 100%;
    padding: 0 10px;
  }
}

section {
  padding: 0 0 3rem 30px;
}

section img {
  max-height: 300px;
}

@media screen and (max-width: 739px) {
  section {
    padding: 0 0 2rem 0;
  }
}

.sidebar-menu {
  align-self: start;
  background: #333;
  float: left;
  height: 100vh;
  overflow: auto;
  padding-bottom: 60px;
  position: sticky;
  top: 0;
  width: 160px;
  -ms-overflow-style: none;
  -ms-overflow-style-scrollbar-width: none;
}

.sidebar-menu li.active a, .sidebar-menu li:hover a {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}

.sidebar-menu a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out;
}

@media screen and (max-width: 739px) {
  .sidebar-menu {
    display: none;
  }
}

ul, ol {
  list-style: none;
}

ol {
  padding: 0;
  white-space: nowrap;
}

li {
  margin-left: 3rem;
  font-size: 0.9rem;
}

.video-wrapper {
  width: 100%;
  height: 400px;
  margin: 4px;
}

.banner {
  border-top: 4px solid #ff7d00;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  background: #fffede;
  color: #333;
  font-size: 0.95em;
  font-style: italic;
  padding: 6px 20px;
}

.banner a {
  color: blue;
}
