/* line 2, /Users/mwilson/projects/beacon-hill-archive/styles/_layout.sass */
main {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* line 8, /Users/mwilson/projects/beacon-hill-archive/styles/_layout.sass */
.main-page {
  padding: 0 40px;
}

/* line 11, /Users/mwilson/projects/beacon-hill-archive/styles/_layout.sass */
section {
  padding: 0 0 3rem 30px;
}

/* line 14, /Users/mwilson/projects/beacon-hill-archive/styles/_layout.sass */
.photo-grid {
  display: grid;
  display-justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(140px, 230px));
}

/* line 19, /Users/mwilson/projects/beacon-hill-archive/styles/_layout.sass */
.video-wrapper {
  margin: 20px 0;
}

@font-face {
  font-family: 'Bosox';
  src: url("../Bosox.ttf") format("truetype");
}

@font-face {
  font-family: 'Bosox Full';
  src: url("../Bosox Full.ttf") format("truetype");
}

/** Poor man's reset **/
/* line 2, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
* {
  box-sizing: border-box;
}

/* line 5, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
html {
  scroll-behavior: smooth;
}

/* line 8, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
html, body {
  background: #fff;
  color: #555;
  margin: 0;
}

/* line 13, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
body {
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.2px;
}

/* line 18, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
h1 {
  font-family: 'Bosox Full';
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

/* line 25, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
.overline, .underline {
  color: #ccc;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-left: 25px;
}

/* line 32, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
.overline {
  margin-bottom: -3px;
}

/* line 36, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
.underline {
  margin-top: -22px;
}

/* line 40, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
h2 {
  background: #fff;
  margin-left: -30px;
  padding: 15px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

/* line 50, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
.title {
  padding: 25px 0 50px;
}

/* line 53, /Users/mwilson/projects/beacon-hill-archive/styles/_base.sass */
section p {
  max-width: 740px;
  font-family: 'Century Expanded', serif;
  font-size: 1.1rem;
}

/* line 2, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
main nav {
  position: sticky;
  top: 0;
  align-self: start;
}

/* line 9, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
.section-nav {
  width: 225px;
  color: #666;
}

/* line 13, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
.section-nav li.active a {
  color: #333;
  font-weight: 800;
}

/* line 17, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out;
}

/* line 28, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
ul, ol {
  list-style: none;
}

/* line 32, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
ol {
  padding: 0;
  overflow: scroll;
  white-space: nowrap;
}

/* line 37, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
li {
  margin-left: 3rem;
  font-size: 0.9rem;
}

/* line 43, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
.banner {
  border-top: 4px solid orange;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 7;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 0.9rem;
  font-style: italic;
  padding: 10px 20px 20px;
}

/* line 56, /Users/mwilson/projects/beacon-hill-archive/styles/_nav.sass */
.banner a {
  color: #fff;
}

/* line 1, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
img {
  max-width: 100%;
}

/* line 4, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
img.logo {
  height: 65px;
  margin: 10px 0 0 39px;
}

/* line 8, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
section img {
  width: auto;
  max-height: 65vh;
  border-radius: 4px;
}

/* line 13, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.caption {
  color: #999;
  font-family: 'Vollkorn', serif;
  font-size: 0.94rem;
  margin-bottom: 30px;
}

/* line 21, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.thumbnail {
  padding: 0;
  display: inline-block;
  margin: 1px 3px;
}

/* line 26, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.thumbnail:hover {
  opacity: 0.7;
}

/* line 29, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.thumbnail img {
  display: block;
  height: auto;
}

/* line 34, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox {
  list-style-type: none;
  display: none;
}

/* line 38, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox:target {
  display: block;
}

/* line 41, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox a {
  position: fixed;
  display: block;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 8;
}

/* line 52, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox a::after {
  content: "\2715";
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 2.5em;
  font-weight: lighter;
  padding: 0.5em 1.5em;
  color: #fff;
}

/* line 64, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox a img {
  display: block;
  z-index: 8;
  width: auto;
  max-height: 100vh;
  height: 100vh;
  margin: auto;
  border-radius: 0;
}

/* line 74, /Users/mwilson/projects/beacon-hill-archive/styles/_images.sass */
.lightbox-caption {
  position: fixed;
  z-index: 11;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px 25%;
}

@-webkit-keyframes Show {
  from {
    opacity: 0;
    zoom: 2;
  }
}

/*# sourceMappingURL=../beacon-hill-theme.map */