/** Poor man's reset **/
* 
	box-sizing: border-box

html
	scroll-behavior: smooth
	-webkit-text-size-adjust: 100% /* Prevent font scaling in landscape while allowing user zoom */

html, body 
	background: #fff
	color: #555
	margin: 0

body
	font-family: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
	letter-spacing: 0.2px


h1 
	font-family: 'Bosox Full'
	font-size: 6rem
	text-transform: uppercase
	line-height: 1
	margin: 0

.overline, .underline 
	color: #ccc
	font-size: 1.1rem
	text-transform: uppercase
	margin-left: 25px


.overline 
	margin-bottom: -3px


.underline 
	margin-top: -22px


h2 
	background: #fff
	margin-left: -30px
	padding: 10px 0
	position: sticky
	position: -webkit-sticky
	top: 0
	z-index: 1

@media screen and (max-width: 739px)
	h2
		font-size: 1rem 

.title 
	padding: 25px 0 50px

section p 
	max-width: 740px
	font-family: 'Vollkorn', serif

