// -----------------
// Main page content
// -----------------
.main-page
	background: #fff
	margin-left: 200px
	padding: 0 40px 60px 

@media screen and (max-width: 739px)
	.main-page
		max-width: 100vw
		margin-left: 0
		width: 100%
		padding: 0 10px


section 
	padding: 0 0 3rem 30px

	img
		max-height: 300px

@media screen and (max-width: 739px)
	section 
		padding: 0 0 2rem 0



// ---------------------------------------------------
// Sticky sidebar menu 
// Hides on mobile view 
// ScrollSpy active styles (see JS tab for activation)
// ---------------------------------------------------
.sidebar-menu
	align-self: start
	background: #333
	float: left
	height: 100vh
	overflow: auto
	padding: 20px 30px 60px
	position: sticky
	text-align: center
	top: 0
	width: fit-content
	-ms-overflow-style: none  /* IE and Edge */
  	scrollbar-width: none  /* Firefox */

	li.active, li:hover 
		a 
			color: #fff
			font-size: 1.05em
			font-weight: 600

	a 
		color: #ccc
		display: block
		font-size: 0.9em
		padding: .125rem 0
		text-align: center
		text-decoration: none
		transition: all 50ms ease-in-out // 💡 This small transition makes setting of the active state smooth 


// Hide the sidebar menu on mobile
@media screen and (max-width: 739px)
	.sidebar-menu
		display: none

// The sidebar menu uses standard list markup
ul, ol 
	list-style: none

ol 
	padding: 0
	white-space: nowrap

li
	margin: 0



// -------------------------
// Wrapper for video iframes
// -------------------------
.video-wrapper 
	width: 100%
	height: 400px
	margin: 4px



// -----------------------------------
// Sticky banner at bottom of viewport
// -----------------------------------
.banner
	border-top: 4px solid #ff7d00
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	z-index: 7
	background: #fffede
	color: #333
	font-size: 0.95em
	font-style: italic
	padding: 6px 20px

	a 
		color: blue

